<h4 class="text-center">Registre-se e venha aprender!</h4>


<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
    <div class="form-group">
        <input placeholder="e-mail"
        class="form-contol" 
        formControlName="email" />
        
        <app-mensagem
        *nginf="novoUsuarioForm.get('email')?.errors?.required &&
        novoUsuarioForm.get('email')?.touched"
        
        mensagem="E-mail obrigatório"
        >
        </app-mensagem>
        <app-mensagem
        *nginf="novoUsuarioForm.get('email')?.errors?.email &&
        novoUsuarioForm.get('email')?.touched"
        
        mensagem="E-mail no formato incorreto"
        >
        </app-mensagem>
        
    </div>

    <div class="form-group">
        <input placeholder="Nome Completo"
        class="form-contol" 
        formControlName="fullName"/>
    </div>
    <app-mensagem
        *nginf="novoUsuarioForm.get('fullName')?.errors &&
        novoUsuarioForm.get('fullName')?.touched"
        
        mensagem="Nome incorreto"
        >
        </app-mensagem>

    <div class="form-group">
        <input placeholder="Usuário"
        class="form-contol" 
        formControlName="userName"/>
    </div>

    <div class="form-group">
        <input placeholder="senha"
        type="password"
        class="form-contol" 
        formControlName="password"/>
    </div>

    <button class="btn btn-primary btn-block">Cadastro</button>
</form>


<p>Já é um usuário? <a [routerLink]="['']">Logar</a> </p>